button {
  color: blue;
  border-radius: 5px;
  background: transparent;
  border-color: rgb(136, 136, 250);
  padding: 2px;
  box-sizing: content-box;
  margin: 5px;
  border: 10px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}

button:hover {
  background-color: rgb(123, 123, 247);
  color: white;
}

table {
  background-color: rgb(242, 226, 213);
  font-size: 20px;
}

thead {
  text-transform: uppercase;
}

tr:nth-child(odd) {
  background-color: beige;
}
